<h1>Most searched Pages!!</h1>
<div data-sly-use.myClass="com.aviva.test.core.models.TagList" data-sly-unwrap>
    <ul data-sly-list.keyName="${myClass.getAllPages}">
       
       <li><a href=${keyName}.html>${myClass.getAllPages[keyName]}</a></li>
    </ul>
</div>